// main colors
$color-success: #158110;
$color-danger: #8b2226;
$color-warning: #c9a21b;
$color-info: #6f676c;
$color-bg: #f8f8f8;

// blues
$blue-100: #ecfcfd;
$blue-200: #b7eef5;
$blue-300: #84dbeb;
$blue-400: #54c4de;
$blue-500: #25a8d0;
$blue-600: #2282a8;
$blue-700: #1e5f82;
$blue-800: #18415d;
$blue-900: #102739;

// flamingos
$flamingo-100: #fbecff;
$flamingo-200: #fadcff;
$flamingo-300: #f6bdff;
$flamingo-400: #d078da;
$flamingo-500: #b92ecb;
$flamingo-600: #9a21aa;
$flamingo-700: #791186;
$flamingo-800: #4e1155;
$flamingo-900: #350d3a;

// greens
$green-100: #eaf3e2;
$green-200: #cbe3b5;
$green-300: #add585;
$green-400: #91c854;
$green-500: #78be20;
$green-600: #41a017;
$green-700: #158110;
$green-800: #0a601b;
$green-900: #053e1f;

// neutrals
$neutral-000: #ffffff;
$neutral-100: #eeeef0;
$neutral-200: #d3d2d6;
$neutral-300: #bab6bc;
$neutral-400: #a19ba2;
$neutral-500: #887f87;
$neutral-600: #6f676c;
$neutral-700: #554f52;
$neutral-800: #3c3738;
$neutral-900: #222020;
$neutral-1000: #000000;

// oranges
$orange-100: #fff5eb;
$orange-200: #ffdab2;
$orange-300: #ffc170;
$orange-400: #ffab48;
$orange-500: #fc961e;
$orange-600: #c86f21;
$orange-700: #974f20;
$orange-800: #6a351c;
$orange-900: #401f15;

// reds
$red-100: #feedee;
$red-200: #fab9bc;
$red-300: #f38789;
$red-400: #ea5d58;
$red-500: #df382b;
$red-600: #b42a27;
$red-700: #8b2226;
$red-800: #641b21;
$red-900: #3e1219;

// violets
$violet-100: #e9d0ff;
$violet-200: #c48ff3;
$violet-300: #ad63f0;
$violet-400: #9040e6;
$violet-500: #7808cf;
$violet-600: #6c0cae;
$violet-700: #570887;
$violet-800: #480870;
$violet-900: #350c52;

// yellows
$yellow-100: #fff8e2;
$yellow-200: #ffebaf;
$yellow-300: #fee07d;
$yellow-400: #fcd64c;
$yellow-500: #f8cc1c;
$yellow-600: #c9a21b;
$yellow-700: #9c7b18;
$yellow-800: #705613;
$yellow-900: #46350d;
